<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="search"></label>
                <input type="text" ng-model="vm.searchText" class="form-control" id="search" placeholder="Search">
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-head-lei">
                <tr>
                    <th ng-click="vm.sortType = 'legalName'; vm.sortReverse = !vm.sortReverse">
                        Name
                        <span ng-show="vm.sortType == 'legalName' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="vm.sortType == 'legalName' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th ng-click="vm.sortType = 'country'; vm.sortReverse = !vm.sortReverse">
                        Country
                        <span ng-show="vm.sortType == 'country' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="vm.sortType == 'country' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th ng-click="vm.sortType = 'type'; vm.sortReverse = !vm.sortReverse">
                        Type
                        <span ng-show="vm.sortType == 'type' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="vm.sortType == 'type' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <!-- th ng-click="vm.sortType = 'lei'; vm.sortReverse = !vm.sortReverse">
                        LEI
                        <span ng-show="vm.sortType == 'lei' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="vm.sortType == 'lei' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th-->
                    <th ng-click="vm.sortType = 'status'; vm.sortReverse = !vm.sortReverse">
                        Status
                        <span ng-show="vm.sortType == 'status' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="vm.sortType == 'status' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th>
                        <div class="pull-right">
                            <span class="label label-primary"><span ng-bind="vm.entitiesCount"></span> Entities</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entity in vm.entities | orderBy:vm.sortType:vm.sortReverse | filter:vm.searchText">
                    <td><a ng-click="vm.goToIdentity(entity.id)"><span ng-bind="entity.legalName"></span></a></td>
                    <td><a ng-click="vm.goToIdentity(entity.id)"><span ng-bind="entity.country"></span></a></td>
                    <td><a ng-click="vm.goToIdentity(entity.id)"><span ng-bind="entity.type"></span></a></td>
                    <!--td><a ng-click="vm.goToIdentity(entity.id)"><span ng-bind="entity.lei"></span></a></td-->
                    <td><a ng-click="vm.goToIdentity(entity.id)"><span ng-bind="entity.status"></span></a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>