<div class="panel panel-default">
    <div class="panel-body">
        <h3>Upload documents</h3>
        <p>
            In order to onboard your entity onto the platform you must provide at least one document from each of the categories below:
        </p>

        <br>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="proof-legal-existence-1">Proof of Legal Existence</label>
                    <select ng-init="vm.documents.proofLegalExistence1.option = '--'; vm.documents.proofLegalExistence1.type = 1" ng-model="vm.documents.proofLegalExistence1.option" id="proof-legal-existence-1" class="form-control">
                        <option value="--">Select one</option>
                        <option value="Passport">Passport</option> 
                        <option value="Driving license">Driving license</option>
                        <option value="Birth certificate">Birth certificate</option>
                        <option value="Marriage license">Marriage license</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-show="vm.documents.proofLegalExistence1.option !== '--'">
                <div class="form-group">
                    <label for="country"><br></label>
                    <input type="file" fileread="vm.documents.proofLegalExistence1.file">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="proof-of-address">Proof of Address</label>
                    <select id="proof-of-address" class="form-control" ng-init="vm.documents.proofAddress.option = '--'; vm.documents.proofAddress.type = 2" ng-model="vm.documents.proofAddress.option">
                        <option value="--" select="">Select one</option>
                        <option value="Signed statement from municipality">Signed statement from municipality</option>
                        <option value="Utility Bill">Utility Bill</option>
                        <option value="Mortgage statement">Mortgage statement</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-show="vm.documents.proofAddress.option !== '--'">
                <div class="form-group">
                    <label for="country"><br></label>
                    <input type="file" fileread="vm.documents.proofAddress.file">
                </div>
            </div>
        </div>

        <hr>


    </div>
    <div class="panel-footer">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous">
                    <a>
                        <button ui-sref="leia.identity.newNatural" type="button" class="btn btn-primary">BACK</button>
                    </a>
                </li>
                <li class="next">
                    <a>
                        <button ng-disabled="vm.isAjax || vm.documents.proofAddress.option == '--' || vm.documents.proofAddress.file == undefined || vm.documents.proofLegalExistence1.option == '--' || vm.documents.proofLegalExistence1.file == undefined" ng-click="vm.setDocumentsAndSave(vm.documents)" type="button" class="btn btn-primary">
                            <img class="leia-loader" ng-show="vm.isAjax" src="statics/img/loader.svg" alt="loader">
                            NEXT
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>