<div class="panel panel-default">
    <div class="panel-body">
        <h3>Upload documents</h3>
        <p>
            In order to onboard your entity onto the platform you must provide at least one document from each of the categories below:
        </p>

        <br>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="proof-legal-existence-1">Proof of Legal Existence</label>
                    <select ng-init="vm.documents.proofLegalExistence1.option = '--';vm.documents.proofLegalExistence1.type = 1" ng-model="vm.documents.proofLegalExistence1.option"
                        id="proof-legal-existence-1" class="form-control">
                        <option value="--">Select one</option>
                        <option value="Articles of Incorporation">Articles of Incorporation</option>
                        <option value="Corporate Registry Data">Corporate Registry Data</option>
                        <option value="Certificate of Incorporation">Certificate of Incorporation</option>
                        <option value="Operating Agreement (LLC)">Operating Agreement (LLC)</option>
                        <option value="Partnership Agreement">Partnership Agreement</option>
                        <option value="Audited Financial Statements">Audited Financial Statements</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-show="vm.documents.proofLegalExistence1.option !== '--'">
                <div class="form-group">
                    <label for="country"><br></label>
                    <input type="file" fileread="vm.documents.proofLegalExistence1.file">
                </div>
            </div>
        </div>
        
        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="goberment-info">Government ID Information</label>
                    <select id="goberment-info" class="form-control" ng-init="vm.documents.gobermentId.option = '--';vm.documents.gobermentId.type = 1"
                        ng-model="vm.documents.gobermentId.option">
                        <option value="--" select="">Select one</option>
                        <option value="SEC 10-K filing">SEC 10-K filing</option>
                        <option value="IRS Form W">IRS Form W</option>
                        <option value="Corporate Registry Extract">Corporate Registry Extract</option>
                        <option value="Certificate of Incorporation">Certificate of Incorporation</option>
                        <option value="Regulatory Filing">Regulatory Filing</option>
                        <option value="Government Issued Business License">Government Issued Business License</option>
                        <option value="Charity Registration Number">Charity Registration Number</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-show="vm.documents.gobermentId.option !== '--'">
                <div class="form-group">
                    <label for="goberment-info-file"><br></label>
                    <input type="file" fileread="vm.documents.gobermentId.file">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="proof-of-address">Proof of Address</label>
                    <select id="proof-of-address" class="form-control" ng-init="vm.documents.proofAddress.option = '--';vm.documents.proofAddress.type = 2"
                        ng-model="vm.documents.proofAddress.option">
                        <option value="--" select="">Select one</option>
                        <option value="Utility Bill">Utility Bill</option>
                        <option value="Corporate Registry Extract">Corporate Registry Extract</option>
                        <option value="Audited Financials">Audited Financials</option>
                        <option value="Exhange Extract">Exhange Extract</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-show="vm.documents.proofAddress.option !== '--'">
                <div class="form-group">
                    <label for="country"><br></label>
                    <input type="file" fileread="vm.documents.proofAddress.file">
                </div>
            </div>
        </div>

        <hr>


    </div>
    <div class="panel-footer">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous">
                    <a>
                        <button ui-sref="leia.identity.new" type="button" class="btn btn-primary">BACK</button>
                    </a>
                </li>
                <li class="next">
                    <a>
                        <button ng-disabled="vm.isAjax" ng-click="vm.setDocumentsAndSave(vm.documents)" type="button" class="btn btn-primary">
                            <img ng-show="vm.isAjax" class="leia-loader" src="statics/img/loader.svg" alt="loader">
                            NEXT
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>