<nav class="navbar navbar-default nav-leia">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo-leia" src="statics/img/logo.png" alt="leia"> LEIA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="leia.identity.newNatural">Natural Person</a></li>
                        <li><a ui-sref="leia.identity.newLegal">Legal Entity</a></li>
                    </ul>
                </li>
                <li><a ui-sref="leia.identity.manage">Manage</a></li>
                <li><a ui-sref="leia.identity.requests">Requests</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<leia-alerts></leia-alerts>

<div class="panel panel-default">
    <div class="panel-body">
        <div ui-view></div>
    </div>
</div>