<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="search"></label>
                <input type="text" ng-model="vm.searchText" class="form-control" id="search" placeholder="Search">
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-head-lei">
                <tr>
                    <th ng-click="vm.sortType = 'requestor'; vm.sortReverse = !vm.sortReverse">
                        Requestor
                        <span ng-show="vm.sortType == 'requestor' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="vm.sortType == 'requestor' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <!--th ng-click="vm.sortType = 'country'; vm.sortReverse = !vm.sortReverse">
                        Country
                        <span ng-show="vm.sortType == 'country' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="vm.sortType == 'country' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th-->
                    <th ng-click="vm.sortType = 'type'; vm.sortReverse = !vm.sortReverse">
                        Type
                        <span ng-show="vm.sortType == 'type' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="vm.sortType == 'type' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th ng-click="vm.sortType = 'status'; vm.sortReverse = !vm.sortReverse">
                        Status
                        <span ng-show="vm.sortType == 'status' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="vm.sortType == 'status' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th>
                        <div class="pull-right">
                            <span class="label label-primary"><span ng-bind="vm.requestPendingCount"></span> Pending</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in vm.requests | orderBy:vm.sortType:vm.sortReverse | filter:vm.searchText">
                    <td ng-show="request.link"><a ng-click="vm.open(request)"><span ng-bind="request.requestor"></span></a></td>
                    <!--td ng-show="request.link"><a ng-click="vm.open(request)"><span ng-bind="request.country"></span></a></td-->
                    <td ng-show="request.link"><a ng-click="vm.open(request)"><span>{{ request.type | capitalize }}</span></a></td>
                    <td ng-show="request.link"><a ng-click="vm.open(request)"><span>{{ request.status | capitalize }}</span></a></td>
                    <td ng-show="!request.link"><span ng-bind="request.requestor"></span></td>
                    <!--td ng-show="!request.link"><span ng-bind="request.country"></span></td-->
                    <td ng-show="!request.link"><span>{{ request.type | capitalize }}</span></td>
                    <td ng-show="!request.link"><span>{{ request.status | capitalize }}</span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>