$icon-font-path: "../fonts/" !default;

@import "bootstrap";
@import "bootstrap/theme";

.btn-groups-options {
    margin: 2rem 0rem;
}

.table-head-lei {
    background-color: rgba(188, 188, 188, 1);

    th {
        &:hover {
            cursor: pointer;
        }

        span.glyphicon {
            font-size: 1rem;
        }
    }
}

.table-lei tr {
    td:last-child, th:last-child {
        text-align: center;
    }
}

.table-lei {
    .glyphicon-ok {
        color: green;
    }

    .glyphicon-remove {
        color: red;
    }
}

.detail-identity {
    p {
        color: #949494;
        margin: 0;
    }

    h4 {
        margin-top: 0;
    }
}

.pager li>a, .pager li>span {
    padding: 0;
    background-color: transparent;
    border-width: 0;
}

.nav-leia {
    margin-top: 1rem;
}

img.logo-leia {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    margin-top: -1rem;
}

.alert-fade {
   opacity:1; 
}

.alert-fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.alert-fade.ng-enter.ng-enter-active {
  opacity:1;
}

.alert-fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}

.alert-fade.ng-leave.ng-leave-active {
  opacity:0;
}

.alert-fade.ng-leave {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.leia-loader {
    width: 16px;
    height: 16px;
}

.alert {
    position: fixed;
    bottom: 1rem;
    left: 8rem;
    right: 8rem;
    z-index: 99999;
}

.leia-list-select .badge {
    background: transparent;
}