<a ui-sref="leia.identity.manage">&larr; Back</a>
<div class="panel panel-default">
    <div class="panel-body">
        <h3 ng-bind="vm.identity.legalName"></h3>
        <div class="row detail-identity">
            <div class="col-sm-2">
                <p>TYPE</p>
                <h4 ng-bind="vm.identity.type"></h4>
            </div>
            <div class="col-sm-2">
                <p>COUNTRY</p>
                <h4 ng-bind="vm.identity.country"></h4>
            </div>
            <!--div class="col-sm-2">
                <p>LEI</p>
                <h4 ng-bind="vm.identity.lei"></h4>
            </div-->
        </div>

        <br>

        <div class="row">
            <div class="col-md-10">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Documents">
                        <br>
                        <table class="table table-lei">
                            <thead>
                                <tr>
                                    <th>DOCUMENT TYPE</th>
                                    <th>Download</th>
                                    <!--th>Delete</th-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="document in vm.identity.documents track by $index">
                                    <td ng-bind="document.docType"></td>
                                    <td ng-click="vm.downloadDocument(document.id)"><span class="glyphicon glyphicon-download-alt"></span></td>
                                    <!--td><span class="glyphicon glyphicon-remove"></span></td-->
                                </tr>
                            </tbody>
                        </table>
                    </uib-tab>
                    <!--uib-tab index="1" heading="Permissions">
                        <br>
                        <input type="text" class="form-control" placeholder="Search">
                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-lei">
                                    <thead>
                                        <tr>
                                            <th>Counterparties</th>
                                            <th>Grant</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Bank of Wooster</td>
                                            <td><span class="glyphicon glyphicon-ok"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-6">
                                <table class="table table-lei">
                                    <thead>
                                        <tr>
                                            <th>Permissions Granted</th>
                                            <th>Revoke</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Bank of Alabaster</td>
                                            <td><span class="glyphicon glyphicon-remove"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Automotive Leasing Corp</td>
                                            <td><span class="glyphicon glyphicon-remove"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Fidelity IRA</td>
                                            <td><span class="glyphicon glyphicon-remove"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab-->
                    <uib-tab index="1" heading="Attestations">
                        <br>
                        <div>
                            <button ng-click="vm.open()" class="btn btn-primary">New Attestation Request</button>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="table-head-lei">
                                    <tr>
                                        <th ng-click="vm.sortType = 'forAttribute'; vm.sortReverse = !vm.sortReverse">
                                            Attribute
                                            <span ng-show="vm.sortType == 'forAttribute' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                                            <span ng-show="vm.sortType == 'forAttribute' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                        </th>
                                        <th ng-click="vm.sortType = 'fromParty'; vm.sortReverse = !vm.sortReverse">
                                            Attestor
                                            <span ng-show="vm.sortType == 'fromParty' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                                            <span ng-show="vm.sortType == 'fromParty' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                        </th>
                                        <th ng-click="vm.sortType = 'created'; vm.sortReverse = !vm.sortReverse">
                                            Created
                                            <span ng-show="vm.sortType == 'created' && !vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                                            <span ng-show="vm.sortType == 'created' && vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                                        </th>
                                        <th>
                                            <div class="pull-right">
                                                <span class="label label-primary"><span ng-bind="vm.attestsCount"></span>                                                Attests</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="attest in vm.attests | orderBy:vm.sortType:vm.sortReverse">
                                        <td><span ng-bind="attest.forAttribute"></span></td>
                                        <td><span ng-bind="attest.fromParty"></span></td>
                                        <td><span>{{ attest.created | date : "short" }}</span></a>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>


    </div>
</div>