<div class="leia-alert-content">
    <div uib-alert ng-repeat="alert in la.alerts" ng-class="'alert-fade alert-' + alert.type" dismiss-on-timeout="3000" close="la.closeAlert($index)">{{alert.message}}</div>
</div>