<div class="modal-header">
    <h3 class="modal-title">New Attestation Request</h3>
</div>
<div class="modal-body" id="modal-body">

    <label for="attestors">Select Data:</label>
    <ul class="list-group leia-list-select">
        <li class="list-group-item">
            <span class="badge">
                <input 
                    ng-model="vm.request.data.name" 
                    ng-init="vm.request.data.name = false"
                    type="checkbox">
            </span> Name
        </li>
        <li class="list-group-item">
            <span class="badge">
                <input 
                    ng-model="vm.request.data.address" 
                    ng-init="vm.request.data.address = false"
                    type="checkbox">
            </span> Address
        </li>
        <li class="list-group-item">
            <span class="badge">
                <input 
                    ng-model="vm.request.data.date_of_birth" 
                    ng-init="vm.request.data.date_of_birth = false"
                    type="checkbox">
            </span> Date of Birth
        </li>
    </ul>
    <div class="form-group">
        <label for="attestors">Select Attestor:</label>
        <select ng-init="vm.request.attestor = '--'" ng-model="vm.request.attestor" id="attestors" class="form-control">
            <option selected="" value="--">--</option>
            <option ng-repeat="party in vm.parties" ng-value="party">{{ party }}</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="vm.cancel()">Cancel</button>
    <button ng-click="vm.requestAttestation(vm.request)" class="btn btn-primary">Request</button>
</div>