<div class="modal-body" id="modal-body">
        <p><b ng-bind="vm.request.requestor"></b> is requested access to the following data for <b>"{{vm.request.identityName}}" ({{ vm.request.identity }})</b>:</p>
        <ol>
            <li ng-repeat="attribute in vm.request.attributes">{{ attribute | capitalize }}</li>
        </ol>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="vm.sendChangeStatus(vm.request.id, 'DENY')">Deny</button>
        <button class="btn btn-primary" type="button" ng-click="vm.sendChangeStatus(vm.request.id, 'ALLOW')">Allow</button>
    </div>